.footerBox {
  min-width: 100%;
  bottom: 0%;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.message {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin-left: 0.5rem;
}
