.ticketBox {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.ticketBox > :not(style) {
  width: inherit;
}

.header > :not(style) {
  background-color: #d3d3d3;
  font-weight: bold;
}

.ticketCard {
  width: inherit;
  height: inherit;
}

.item {
  width: 10%;
}
