.Body {
  margin-bottom: 1rem;
}

.ticketBox {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.ticketBox > :not(style) {
  width: inherit;
}

.ticketCard {
  width: inherit;
  height: inherit;
}

.item {
  width: 10%;
}
