.ticketBox {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.ticketBox > :not(style) {
  width: inherit;
  height: 6rem;
}

.ticketCard {
  width: inherit;
  height: inherit;
}
